.input-field {
  padding: 8px;
  border: none;
  background-color: rgb(56, 54, 54);
  outline: none;
  border-radius: 8px;
  width: 500px;
  height: 40px;
  margin-right: 20px;
}

.input-field:focus {
  color: #807c7c;
  background-color: rgb(56, 56, 56);
}
.button{
  margin-left: 2%;
}