/* NavBarOrganism.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color:tranparent;
  color: #fff;
  
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 16px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}
